body {
  font: 16px Roboto, Arial, sans-serif;
  /* background-color: red; */
  background: linear-gradient (top to bottom, blue, white);
}
h1 {
  font: 16px Monaco, monospace;
  /* background-color: red; */
}

nav {
  /* background-color: linear-gradient (top to bottom, blue, white); */
  background-color: red;
}

.img-container {
  aspect-ratio: 1;
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}
